@model IEnumerable<RegistrationForm.Models.Register>

@{
    ViewBag.Title = "Record";
}

<h2>Players Data</h2>


<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nationality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit1", new { /* id=item.PrimaryKey */ }) 
          
        </td>
    </tr>
}

</table>
